<mat-grid-list cols="6" rowHeight="60px" style="width:20em;">
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      >
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      (click)="onclick('up')"
      >
      <button mat-fab color="primary" >
        <mat-icon>arrow_upward</mat-icon>
      </button>
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      >
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      (click)="onclick('left')"
      >
      <button mat-fab color="primary" >
        <mat-icon>arrow_back</mat-icon>
      </button>
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      >
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      (click)="onclick('right')"
      >
      <button mat-fab color="primary" >
        <mat-icon>arrow_forward</mat-icon>
      </button>
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      >
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      (click)="onclick('down')"
      >
      <button mat-fab color="primary" >
        <mat-icon>arrow_downward</mat-icon>
      </button>
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1"
      >
  </mat-grid-tile>
</mat-grid-list>

